@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
    background: url("https://source.unsplash.com/1600x900/?invest");
  }
html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #444;
}

 .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}


/* Colours */
.red {
    background-color: #d55050;
}
.teal {
    background-color: #50d5a1;
}

.orange {
    background-color: #e96633;
}
.blue {
    background-color: #7abedf;
}
.type {
    font-family: Courier, monospace;
	display: inline-block;
    
    
}

.type-text {
    text-align: center;
  	overflow: hidden;
  	letter-spacing: 5px;
 	animation: typing 20s steps(30, end), blink 0.75s step-end infinite;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 500% 
    }
}

@keyframes blink {
    from, to { 
        border-color:#482ff7; 
    }
    50% { 
        border-color: orange; 
    }
}