.section {
  padding-top: 1rem;
}

.title {
  padding-top: 1rem;
  font-weight: bold;
}

input.age {
  width: 6rem;
}

input.contribution {
  width: 8rem;
}

input.percent {
  width: 4rem;
}

#calc-results {
  opacity: 0.25;
  transition: 0.5s
}

.results .title {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .money-column {
    padding-left: 0;
    border-left: 2px solid rgb(220, 220, 220);
    padding-top: inherit;
    border-top: inherit;
  }
}